
#section-header {
 background-color: #06668F;
 font-size: 300%;
 padding-left: 50px;
 padding-top: 20px;
 font-family: 'Roboto', sans-serif;
 color: white;

 #img-logo {
   max-width: 5%;
   height: auto;
   padding-right: 10px;
   }
}

#section-desc {
  // display: flex;
  background-color: #06668F;

  #rcorner {
    border-radius: 0px 100px 0px 0px;
    background: #66953E;
    padding: 20px;
    max-width: 80%;
    height: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;

    p{
      color: white;
      font-family: 'Roboto', sans-serif;
    }
  }

  #img1 {
    padding-bottom: 20px;
    max-width: auto;
    height: auto;
  }

}

.blank-space{
  background-color: #06668F;
height:150px;
}

#box {
  position: relative;
  border-radius: 0px 80px;
  background: #67973f;
  width: 180px;
  height: 180px;
  display:inline-block;
  color: white;
  line-height: 180px;
  text-align: center;
  font-size: 40px;
margin:0 20px 0 0;
  &:after {
    content: "";
    @include position(absolute, $top: 5px, $left: 5px);
    border-radius: 0px 77px;
    border: 2px solid white;
    width: 170px;
    height: 170px;
  }
}

#box-white{
  width: 180px;
  height: 180px;
  background: transparent;
  margin:0;
}

p{
  color: white;
}
.triangle {
	width: 0;
	height: 0;
	border-bottom: 540px solid white;
	border-right: 540px solid transparent;
  position: absolute;
  top: 0;
  left: 0;

}


#bottom{
  background-color:#67973f;
}

.banner{
  background-color: #06668F;
<<<<<<< HEAD
  position: relative;
}

.container{
  padding:0;
=======
  p{
    color: white;
  }
>>>>>>> 66abf911b8d06e1af504e356e85e7715e7262d46
}

#section-description{
#rcorner1 {
  border-radius: 500px 500px 0px 0px;
  background: #397A70;
  padding: 20px;
  // max-width: 80%;
  // height: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 50px;
  text-align: center;
  padding-top: 50px;

  p{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 24%;
    padding-right: 24%;
    }
  }
}

#section-sign-up{
  background-color: #66953E;
}

#section-contact-us{
  background-color: #EDF5FA;
}
