<<<<<<< HEAD
#section-header {
 background-color: #06668F;
 font-size: 300%;
 padding-left: 50px;
 padding-top: 20px;
 font-family: 'Roboto', sans-serif;
 color: white;

 #img-logo {
   max-width: 5%;
   height: auto;
   padding-right: 10px;
   }
}

#section-desc {
  // display: flex;
  background-color: #06668F;

  #rcorner {
    border-radius: 0px 100px 0px 0px;
    background: #66953E;
    padding: 20px;
    max-width: 80%;
    height: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;

    p{
      color: white;
      font-family: 'Roboto', sans-serif;
    }
  }

  #img1 {
    padding-bottom: 20px;
    max-width: auto;
    height: auto;
  }
=======

#box {
  position: relative;
  border-radius: 0px 80px;
  background: #67973f;
  width: 180px;
  height: 180px;
  display:inline-block;
  color: white;
  line-height: 180px;
  text-align: center;
  font-size: 40px;
  &:after {
    content: "";
    @include position(absolute, $top: 5px, $left: 5px);
    border-radius: 0px 77px;
    border: 2px solid white;
    width: 170px;
    height: 170px;
  }
}

#bottom{
  background-color:#67973f;
}

.banner{
  background-color: #18668e;




p{
  color:white;
}
>>>>>>> 5e2fcc972dbf3f1e0af86f9cad7b70e94a801486
}
